#page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	.container {

		h1 {
			font-family: $helvetica;
			font-style: italic;
			font-size: 18px;
			line-height: 24px;
		}
	}
}